.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #F2F2F2;
}

.item {
    margin: 0;
    margin-bottom: 75px;
    padding: 0;
    list-style-type: none;
    width: 255px;
    margin-right: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 5px;
}



.item__img{
    width: 265px;
    height: 160px;
    margin-bottom: 24px;
}

.item__box{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-bottom: 46px;
}

.item__title{
margin: 0;
margin-bottom: 16px;
padding: 0;
font-weight: 800;
font-size: 18px;
line-height: 26px;
color: #111517;
}

.item__num{

    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: rgba(17, 21, 23,0.6);
}

.item__span{
    color: #111517;
}

.num{
    margin-bottom: 0;
}

