@font-face {
    font-family: 'Nunito Sans';
    src: url('../../components/fonts/NunitoSans-Bold.woff2') format('woff2'),
        url('../../components/fonts/NunitoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../components/fonts/NunitoSans-SemiBold.woff2') format('woff2'),
        url('../../components/fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../components/fonts/NunitoSans-Regular.woff2') format('woff2'),
        url('../../components/fonts/NunitoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../components/fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
        url('../../components/fonts/NunitoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../components/fonts/NunitoSans-Black.woff2') format('woff2'),
        url('../../components/fonts/NunitoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




html {
  height: 100%;
  scroll-behavior: smooth;
}

*,*::before, *::after {
  box-sizing: border-box;
 
}

body {
  font-family: 'Nunito Sans' sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#F2F2F2;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.site-header{
    background-color: #fff
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    margin-bottom: 48px;
;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.header__title{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #111517;
}

.header__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__img{
width: 15px;
height: 14px;
margin-right: 10px;
}

.header__button{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #111517;
    background-color: #fff;
    border:none;
}
